.overlay-container {
    min-width: 600px;
    max-width: 600px;
}

.background-opacity {
    background-color: rgba(0, 0, 0, 0.4);
}

.carousel-text-container {
    margin-left: 90px;
    margin-top: 10px;
    padding: 2px 20px 20px 20px;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.home-link:hover {
    cursor: pointer;
    opacity: 0.5;
}

.margin-auto {
    margin: auto;
}

.login {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}

.login:hover {
    cursor: pointer;
    opacity: 0.5;
}

.pointer{
    cursor: pointer;
}

.color-secondary{
    color: #7cb342;
}

.color-secondary-light{
    color: #aee571;
}

.color-secondary-dark{
    color: #4b830d;
}

.completed{
    opacity: 0.75;
    background-color: #aee571 !important;
}



